body {
  font-size: 16px;
  color: black;
  background-color: #fadfb9;
  font-family: 'Poppins', sans-serif;
  font-weight:400;
}
 /** Header **/
 #header-nav{
 	background-color: #faa123;
 }
.navbar-brand h1{
 	color:white;
 	font-size: 2.0em;
 	text-shadow: 1px 1px 1px #222;
 	font-weight: 700;
 }
#list{
	background-color: #ffce85;
}
 .navbar-brand a:hover{
 	text-decoration: none;
 }
 button:focus{
 	outline: none; 
 }
  button:hover{
 	background-color: #fadfb9; 
 }
 #collapsable-nav a{
 	text-align: center;
 	color: black;
 }
  #collapsable-nav a:hover{
 	font-weight:600;
 }
 .jumbotron{
 	background-color: #fadfb9;
 	padding-top: 2em;
 }
.title{
	margin-bottom:15px;
}
 .section{
	border: 1px solid black;
	background-color: #ebe6d1;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:15px;
  padding:20px;
  width:100%;
}

.title h2{
	font-size: 1.8em;
}

.row span{
  padding:30px;
  margin-top:35px;
}

.row h3{
	font-size: 1.4em;
}
.section a{
	position:absolute;
	bottom:0;
	right:5px;
	font-size: 1em;
}